

    <!--<select [(ngModel)]="selected" class="form-control">
        
        <option *ngFor="let quest of questions" [ngValue]="quest">
       <label for="quest"> Q n°: </label> {{quest.id}}   {{quest.content}}
        </option>
      </select>
      <form (ngSubmit)="onSubmit()">
      <section *ngIf="selected">
        <p *ngFor="let rep of selected.Responses">
          <input type="radio" name="reponse" [(ngModel)]="selectedRep" value="{{rep.content}}">{{rep.content}}
        </p>
      </section>
    
      <button type="submit" class="btn btn-success">Submit</button>
  </form>-->

 
        <app-api-user class="position"></app-api-user>
   

  
  
